.App {
  text-align: center;
}

.logout-button {
  margin-left: 50px;
  padding: 10px;
  border-radius: 5px;
  background-color: aqua;
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.dashboard-heading {
  font-size: 10vw;
}
